.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* バナー本体 */
.news-banner {
  display: block;
  height: 45px;
  width: 100%;
  overflow: hidden;
}

/* バナー内コンテンツ */
.news-banner__content {
  display: inline-block;
  color: #fff;
  line-height: 13px;
  padding-left: 100%;
  white-space: nowrap;
  animation: animate-banner 20s linear infinite;
}

/* バナー内の要素をすべて選択 */
.news-banner__content > * {
  display: inline-block;
}

/* 横にスクロールさせるアニメーション */
@keyframes animate-banner {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.search_list {
  border-bottom: 1px dashed #333;
  padding: 1rem;
  margin: 0;
}
.search_list li {
  display: inline;
  margin-right: 1rem;
  font-size: 0.8rem;
  color: #fff;
  cursor: pointer;
}
.search_list li:hover {
  opacity: 0.7;
}